.toolbar
  width: 100%
  position: fixed
  height: 20px
  background-color: grey
  z-index: 100
  .toggle-panel-icon
    display: inline-block
    background-color: green
    border-left: 1px solid pink
    border-right: 1px solid pink
    // width: 20px
    width: 120px
    height: 20px
    cursor: pointer
